# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.dist/
.build/
.venv/
venv/
.env
.ipynb_checkpoints

# IDE
.idea/
.vscode/

# Data / cache
data_cache/
data/*
*.ds_store
.DS_Store
notebooks/data/*

# Tests
.pytest_cache/
.coverage
htmlcov/
env/
